<div ng-controller="customerController">
  <h1 id="addStuff">Add a new customer</h1>
  <div class="choosingThings">
    <p>Customer Name:</p> <input type="text" ng-model="newCustomer.cname">

    <input type="submit" ng-click="addCustomer()" value="Add Customer">

    <input type="text" ng-model="filter_name" placeholder="search name...">
  </div>
  <table border="1">
    <tr>
      <th>Customer Name</th>
      <th>Date Created</th>
      <th>Remove Customer</th>
    </tr>
    <tr ng-repeat="customer in customers | filter: filter_name">
      <td ng-bind="customer.name"></td>
      <td ng-bind="customer.date | date: 'MMMM dd, yyyy'"></td>
      <td><span><button ng-click="removeCustomer(customer._id)">Remove </button></span></td>
    </tr>
  </table>
</div>
