<div ng-controller="dashboardController">

  <div ng-repeat="product in products" id="dashboardProds">
    <table id="dashboard">
      <tr>
        <td> <img ng-src="{{ product.image }}" /></td>
      </tr>
      <tr>
        <td>{{ product.name }}</td>
      </tr>
      <tr>
        <td>{{ product.qty }}</td>
      </tr>
    </table>
  </div>

  <h2>Recent Orders</h2>
  <p class="recent_orders" ng-repeat="order in orders">{{ order.customer_name }} purchased {{ order.quantity }} ... {{ order.date | date: 'MMM dd, yyyy'}}</p>
  <h2>New Customers</h2>
  <p class="recent_custs" ng-repeat="customer in customers"> {{ customer.name }} joined the store. {{ customer.date | date: 'MMM dd, yyyy'}}</p>
</div>
