p {
  color: green;
}
#newProduct{
  height: 400px;
  width: 250px;
  display: inline-block;
  border: 2px solid green;
}
#displayedProds{
  display: inline-block;
  width: 700px;
  height: 700px;
  border: 2px solid black;
  position: absolute;
}

#prod,#prodImg, #prodPs {
  display: inline-block;

}
  #prodImg{
    margin: 7px;
  }

  #prodPs{
    display: block;
    margin-top: 1px;
    /*margin-left: 55px;*/
    margin-bottom: 1px;
    position: relative;

  }

#dashboardProds{
  display: inline-block;
}
